# etosamoe sshd_config file

Include /etc/ssh/sshd_config.d/*.conf

Port 14588
AddressFamily inet
ListenAddress 0.0.0.0

PermitRootLogin yes

#PasswordAuthentication yes
#PermitEmptyPasswords no

ChallengeResponseAuthentication no

UsePAM yes

#AllowAgentForwarding yes
#AllowTcpForwarding yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server