filebeat.inputs:
- input_type: log

  # path to nginx logs
  paths:
    - /var/log/apache2/access.log
    - /var/log/apache2/error.log

  json.keys_under_root: false
  json.add_error_key: true
  json.overwrite_keys: false

  scan_frequency: 10s
  harvester_buffer_size: 16384
  max_bytes: 10485760

  tail_files: true

  close_inactive: 5m
  close_renamed: false
  close_removed: true
  close_eof: false

output.logstash:
  enabled: true
  hosts: ["logstash:20517"]
  codec:
    plain:
      charset: "UTF-8"
